 @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 
     * {
      margin: 0;
      padding: 0;
      font-family: "Patrick Hand", serif;
    }

    body {
      background-image: url("//i.pinimg.com/736x/74/2c/2a/742c2adf34b8a7630daa70e88c687c5e.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh; 
    }

    .container {
      width: 500px;
      height: 90%;
      margin: 0 auto;
      background-color: #f7f7f7;
      background-image: radial-gradient(circle, #cdcdcd 1px, transparent 2px);
      background-size: 20px 20px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 12px;
    }

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
      color: #A76840;
      font-size: 40px;
      
    }
    img{
      width: 150px;
      margin-bottom: 10px;
    }
  .input-section{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 50px;
        }
.input {
 flex: 1;
 border: none;
 outline: none;
 margin-left: 50px;
 font-size: 20px;
 height: 30px;
 background-color: transparent;
border-bottom: 2px dashed #b76e70;
  /* Noktalı alt çizgi */
 
}

.submit{
  margin-left: 20px ;
  margin-top: 20px;
  width: 70px;
  outline: none;
  padding: 5px 0px;
  background-color:#A96943 ;
  border: solid 1px rgb(191, 191, 191);
  color: #ffffff;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;

}

.task {
 list-style-type: none;
 margin-left: 100px;
 position: relative;
 padding-left: 20px;
 cursor: pointer;
}

.task::before{
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 12px;
  left: 0px;
  margin-top: 5px;
}


.tasks{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}


.checked {
  color: #F5A68D;
  text-decoration: line-through;
  position: relative;
}
.checked::before{
  content: "";
  background-image:url("img/icons8-check-50.png");
  position: absolute;
  right: 0;
  background-size: contain;
  width: 15px;
  height: 15px;

}

#remove {
  position: absolute;
  right: 50px;
  top: 20%;
}

@media only screen and (max-width: 600px) {
.container{
  width: 100%;
  height: 100%;
}
h2 {
  font-size: 40px;
  margin-right: 20px;
  margin-top: 20px;

}
.submit {
  width: 80px;
  outline: none;
  padding: 5px 5px;
}
}


